<div class="control-group">
  <%= f.label :url, class: "control-label" %>
  <div class="controls">
    <%= f.text_field :url %>
  </div>
</div>
<div class="control-group">
  <%= f.label :max_entries, class: "control-label" %>
  <div class="controls">
    <%= f.text_field :max_entries %>
  </div>
</div>
<div class="control-group">
  <%= f.label :post_matcher, class: "control-label" %>
  <div class="controls">
    <%= f.text_field :post_matcher %>
  </div>
</div>
<div class="control-group">
  <%= f.label :next_post, class: "control-label" %>
  <div class="controls">
    <%= f.text_field :next_post %>
  </div>
</div>
<div class="control-group">
  <%= f.label :starting_page, class: "control-label" %>
  <div class="controls">
    <%= f.text_field :starting_page %>
  </div>
</div>
<div class="control-group">
  <%= f.label :starting_page_inc, "Incrementor", class: "control-label" %>
  <div class="controls">
    <%= f.text_field :starting_page_inc %><br />
  </div>
</div>

