<h1>Enter in Params</h1>
<div class="row">
  <div class="span6" %>

    <%= form_for @site_arg, url: ebooks_path(@site_arg), html: { class: "form-horizontal" } do |f| %>
    
    <div class="control-group">
      <%= f.label :url, class: "control-label" %>
      <div class="controls">
        <%= f.text_field :url %>
      </div>
    </div>

     <div class="control-group">
       <%= f.label :max_entries, class: "control-label" %>
       <div class="controls">
         <%= f.text_field :max_entries %>
       </div>
     </div>

     <div class="control-group">
       <%= f.label :post_matcher, class: "control-label" %>
       <div class="controls">
         <%= f.text_field :post_matcher %>
       </div>
     </div>

     <div class="control-group">
       <%= f.label :next_post, class: "control-label" %>
       <div class="controls">
         <%= f.text_field :next_post %>
       </div>
     </div>

     <div class="control-group">
       <%= f.label :starting_page, class: "control-label" %>
       <div class="controls">
         <%= f.text_field :starting_page %>
       </div>
     </div>

     <div class="control-group">
       <%= f.label :starting_page_inc, class: "control-label" %>
       <div class="controls">
         <%= f.text_field :starting_page %>
         <%= f.submit "Submit", class: "btn btn-large btn-primary" %>
       </div>
     </div>

    <% end %>

  </div>
</div>
