<h1>Enter in Params</h1>
<div class="row">
  <div class="span6" %>

    <%= form_for @ebook, html: { class: "form-horizontal" } do |f| %>
      <%= render 'shared/error_messages', :object => @ebook %>
      <%= f.fields_for :site do |builder| %>  
        <%= render 'site_fields', f: builder %>
      <% end %>

      <div class="controls">
        <%= f.submit "Submit", class: "btn btn-large btn-primary" %>
      </div>
    <% end %>

  </div>
</div>
